fastapi
fastapi-xml
uvicorn
aiofiles
alembic
python-multipart
loguru
google-api-python-client==2.154.0
pydantic
pydantic-settings
SQLAlchemy
prometheus-fastapi-instrumentator
asyncpg
bcrypt
oauth2client
aiobotocore>=2.5.0
pytest-asyncio>=0.21.0
pytest>=7.4.0
